# API
fastapi>=0.115.0
uvicorn[standard]>=0.30.0
pydantic-settings>=2.0.0

# Modèle (cf. requirements.txt racine pour les dépendances complètes)
torch
transformers
accelerate
qwen-vl-utils>=0.0.8
Pillow>=10.0.0

# LangChain
langchain>=0.2.11


#à ajouter le 